<!DOCTYPE html>
<html>
<head>
</head>
<body>

<section>
      <h3 id="metric-space"><sup><font color='green'><small>(NEW)</small></font></sup> Przestrzeń metryczna</h3>
        <p>
          Definicja. <br>
            &emsp; Niech $X$ będzie zbiorem niepustym. Metryką w zbiorze $X$ nazywa się funkcję

          \begin{equation}
            d: X \times X \mapsto [0, +\infty),
          \end{equation}

          która spełnia następujące warunki: <br>
          <ol>
            <li>$\forall x, y \in X d(x, y) = 0 \iff x=y$ &#09; &#09; identyczność</li>
            <li>$\forall x, y \in X d(x, y) = d(y, x)$ &#09; &#09; symetria</li>
            <li>$\forall x, y, x \in X d(x, y) \leq d(x, z) + d(z, y)$ &#09; nierówność trójkąta</li>
          </ol>

        </p>
      </section>

</body>
</html>